<div>
  <div 
    class="positionable stand center" 
    [ngStyle]="{'rotate':rotation+'deg',
                'top':user.location.x+'px',
                'left':user.location.y+'px',
                'width':userStandWidth+'px',
                'height':userStandHeight+'px'}"
    
     (touchstart)="mousedown()"
      >
      <input type="button" value="rotate" (click)="rotate()">
    <div class="stand-label">

        {{username}}
    </div>
  </div>
</div>
<div
style="position:absolute ;color: red; ; left:50px"
[ngStyle]="{
  'top':centerY+'px',
  'left':centerX+'px'
}"
 >
o
</div>

