.stand {
  box-shadow: 0 0 50px 15px #ffaaa0;
  position: absolute;
  border-radius:60% 60% 0% 0%;
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 10px;
}


.stand-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stand-label {
  background-color: yellow;
  color: black;
  border-radius: 5px;
  padding: 3px 5px;
}
