<div >
  <div 
    class="positionable stand center" 
    style="transform-origin: 50% 50%;"
    [ngStyle]="{
                
                'top':user.location.x+'px',
                'rotate':rotation+'deg',
                'left':user.location.y+'px',
                'width':userStandWidth+'px',
                'height':userStandHeight+'px'}"
    
     (touchmove)="onmouseDown($event)"
     (touchend)="onMouseUp($event)"
      >
    <div class="stand-label">

        {{username}}
    </div>
  </div>
</div>

