.stand {
  position: relative;
  border-radius:  60% 60% 0% 0%;
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #5b6dcd;
  color: #fff;
  padding: 10px;
}

.stand-size {
  width: 50cm;
  height:50cm; 
}

.player-position {
  position: relative;
  border-radius: 50%;
  background-color: gray;
}

.stand-content {
  position: absolute;
  //top: -40cm;
  //left: 0;
  //width: 30cm;
  //height: 30cm;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stand-label {
  background-color: yellow;
  border-radius: 5px;
  padding: 3px 5px;
}

.stand-holder {
}
