.box {
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.1cm;
  height: fit-content;
  width: fit-content;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 5rem;
  width: 2cm;
  height: 2cm;
  margin: 0.1cm;
}

.everyone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 2rem;
  width: 3cm;
  height: 2cm;

}
