.fa-solid.fa-trash{
  font-size: 30px;
}

.mini-map {
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.2cm;
  height: fit-content;
  width: fit-content;
}

.btn-secondary {
  width: fit-content;
  height: 2cm;
  margin: 0.1cm;
}
