<div class="example-box" cdkDrag>
  <img *ngIf="isOpen===false" [src]=safeURL (dblclick)="load()" alt="{{name}}"/>
  <div *ngIf="isOpen===true">
    <button class="close-button" aria-label="Close alert" type="button" (click)="isOpen=false">X</button>
    <iframe  *ngIf="defineType!=='picture'" id="inlineFrameExample"
            title="Inline Frame Example"
            style="width: 10cm; height: 10cm;"
            [src]=safeURL>
    </iframe>

    <img *ngIf="defineType==='picture'" [src]=safeURL alt="picture" class="bigImg"/>

  </div>


</div>


