<div class="example-box"
     (press)="showMinimap()"
     (mousedown)="mousedown()"
     (touchstart)="touchstart()"
     (dblclick)="load()"
     [ngStyle]="{'position':'relative','left':doc.position.x+'px', 'top':doc.position.y+'px','rotate': doc.rotation+'rad'}"
>
  <i class="fas fa-redo" (touchmove)="setRotation($event)" [ngStyle]="{'padding':'1%'}"></i>
  <img *ngIf="isOpen===false" [src]=safeURL alt="{{doc.name}}"/>
  <div *ngIf="isOpen===true">
    <button class="btn-close" aria-label="Close" type="button" (click)="isOpen=false"></button>
    <iframe *ngIf="doc.type!=='PICTURE'" id="inlineFrameExample"
            title="Inline Frame Example"
            style="width: 10cm; height: 10cm;"
            [src]=safeURL
            [ngStyle]="{'position':'relative','top' : '125px'}"
    >
    </iframe>

    <img *ngIf="doc.type==='PICTURE'" [src]=safeURL alt="picture" class="bigImg"/>

  </div>
  <app-mini-map (close)="minimapVisible=false" *ngIf="minimapVisible" [file]=doc
                [style]="{'position': 'absolute', 'left': dropPoint.x+'px','top': dropPoint.y+'px'}"
                (onSendTo)="onSendToUser($event)"
  ></app-mini-map>
</div>

