#viewer1{
  flex:1;
  margin: 15px;
}
#viewer2{
  flex:1;
  transform: rotate(180deg);
  margin: 15px;
}
#body{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  height: 100vh;
}
