<div class="contain" cdkDrag>
  <!--app-icon (pinch)="pinch()" [doc]="doc" *ngFor="let doc of documentService.files" (click)="$event.stopImmediatePropagation()"></app-icon-->
  <app-icon (pinch)="pinch()" [doc]="doc" *ngFor="let doc of documentService.files" (click)="$event.stopImmediatePropagation()"
            [ngStyle]="{'position':'relative', 'display': 'block','left':doc.position.x+'px', 'top':doc.position.y+'px', width: 0, height: 0}"></app-icon>


</div>
<app-document-element [docPath]="doc.path" *ngIf="edit === true">
  {{doc.path}}
</app-document-element>

