<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="navbarContainer">
  <div id="navbar">
    <div id="menuWrapper">
      <div id="menu1" class="menuElement" ><i class="fa-brands fa-google-drive"></i></div>
      <div id="menu2" class="menuElement" ><i class="fa fa-pencil" aria-hidden="true"></i></div>
      <div id="menu3" class="menuElement" ><i class="fa fa-square" aria-hidden="true"></i></div>
      <div id="menu4" class="menuElement" ><i class="fa-regular fa-user"></i></div>
    </div>
  </div>
</div>

</body>

</html>
