<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">StormTable</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let item of menuItems">
            <a
              class="nav-link {{ item.disabled || (!item.clicked && !item.link) ? 'disabled' : ''}}"
              [href]="item.link || '#'"
              (click)="item.clicked?.()"
              [ngClass]="{ 'active': page === item.link }"
            >{{item.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="alert alert-info" *ngIf="alert">
    {{alert}}
  </div>
  <div class="container my-5">
    <ng-content></ng-content>
  </div>
</div>

